body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.folders-list {
  list-style: none;
}

.content {
  display: none;
  list-style: none;
}

.content > li {
  margin: 5px;
}

.folder {
  padding: 5px;
  margin: 5px;
}

.folder > a {
  padding: 5px;
  border: 1px solid black;
  border-radius: 3px;
  text-decoration: none;
  display: inline-block;
  width: 100%;
}

.folder > a:hover {
  background-color: silver;
}
